.window {
  &__input {

    &__container {
      position: relative;
      bottom: 0;

      .input {
        &__container {
          @include flex(row, space-between);
          padding: 7px 5px;
        }

        &__field {
          @include just-flex;
          flex-grow: 9999;
          padding: 5px 10px;
          margin-right: 5px;
          border-radius: 12px;
          background-color: $input-background-color;

          input {
            border: none;
            background-color: inherit;
            color: $dark-text-color;
            width: 100%;

            &:focus {
              outline: none;
            }
          }
        }

        &__button {
          @include just-flex;
          padding: 5px 10px;
          border-radius: 12px;
          background-color: $primary;
          color: $light-text-color;
          font-weight: $bold;
          cursor: pointer;
        }
      }
    }
  }
}