.window {
  &__messages {

    &__container {
      @include flex(column, flex-start);
      flex-grow: 999;
      overflow: auto;
      padding: 3px 0;
      border-left: 1px solid $alice-blue;
      border-right: 1px solid $alice-blue
    }
  }
}